
.logo {
    min-height: 50px;
    margin-left: 45%;
    background-color: lightgray;
}
.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
}
.container_header {
    min-width: 70%;
    max-height: 130px;
    
}
.container {
    min-width: 40%;
    margin: auto;
}

.block {
    min-width: 40%;
    max-height: 35%;
    margin-bottom: 35px;
}

.h-510 {
    max-height: 510px;
}

.h-330 {
    max-height: 330px;
}

.h-180 {
    max-height: 180px;
}

.background-image {
    background-image: url(images/block1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative; /*не растягивается в высоту*/
}

.text {
    font-size: 18px;
    padding-top: 30px;
} 

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: white;
    text-align: center;
}

.btn_block { 
    border-radius: 30px;
    border: none;
    position: absolute;
    margin-left: 93%;
}

.link-text {
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
}

.background-image_1 {
    background-image: url(images/block2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative; /*не растягивается в высоту*/
}

.background-image_2 {
    background-image: url(images/block3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    position: relative; /*не растягивается в высоту*/
}
.block-search {
    min-width: 40%;
    max-height: 50%;
    margin-bottom: 35px;
    background-color: #F1F1F1;;
} 

h3 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
}

.btn-lg {
    border-radius: 25px;
    border: none;
    background-color: #8D4FDB;
    color: white;
    width: 190px;
    font-weight: lighter;
    align-self: center;
    margin-left: 40%;
    margin-bottom: 10px; 
}
.footer {
    max-width: 58.5%;
    max-height: 50%;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.h-100 {
    max-height: 100px;
}
