.logo {
    /*логотип не отражается*/
}
.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
}
.container_header {
    min-width: 70%;
    max-height: 120px;
}
.container {
    min-width: 40%;
    margin: auto;
}

.first {
    min-width: 40%;
    max-height: 35%;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
    max-height: 800px;
}

.background {
    background: url(images/block1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto; /*никак не получается сделать картинку меньше по высоте*/
    position: relative;
}
.text {
    font-size: 18px;
    padding-top: 30px;
} 

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: white;
    text-align: center;
}

.btn { /*кнопка должна быть на картинке*/
    border-radius: 30px;
    position: absolute;
}

.link-text {
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
}

    

